
#wrapper {
    background-color: gray;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
#wrapper2 {
    background-color: lightgray;
    
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 5px;
    min-height: 250px;
}
h1, h2, h3 {
    text-align: center;
}
button {
    display: block;
    margin: auto;
    padding: 10px 20px;
    
}